In [174]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

import matplotlib.pyplot as plt
import seaborn as sns
import re

## 1. Data Gathering

In [2]:
df=pd.read_csv('Pune_house_data.csv')
df

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,Pashan
13316,Super built-up Area,Ready To Move,4 BHK,NaN,3600,5.0,NaN,400.00,Paud Road
13317,Built-up Area,Ready To Move,2 BHK,Mahla T,1141,2.0,1.0,60.00,Pirangut
13318,Super built-up Area,18-Jun,4 BHK,SollyCl,4689,4.0,1.0,488.00,Prabhat Road
13319,Super built-up Area,Ready To Move,1 BHK,NaN,550,1.0,1.0,17.00,Pune Railway Station

## 2 EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

### analyzing each feature and converting into appropriate fromat

##### 1. 'area_type' analysis

In [4]:
df['area_type'].value_counts()  ## 4 types of areas are present

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [6]:
df['area_type'].value_counts().to_dict()

{'Super built-up  Area': 8790,
 'Built-up  Area': 2418,
 'Plot  Area': 2025,
 'Carpet  Area': 87}

In [9]:
df['area_type'].replace({'Super built-up  Area': 0,
 'Built-up  Area': 1,
 'Plot  Area': 2,
 'Carpet  Area': 3},inplace=True)

In [10]:
df['area_type'].value_counts()

0    8790
1    2418
2    2025
3      87
Name: area_type, dtype: int64

In [12]:
df['area_type'].isna().sum()

0

##### 2. 'availability' analysis

In [52]:
df['availability'].value_counts()

22        10581
18-Dec      307
18-May      295
18-Apr      271
18-Aug      200
          ...
15-Aug        1
17-Jan        1
16-Nov        1
16-Jan        1
14-Jul        1
Name: availability, Length: 81, dtype: int64

In [65]:
df['availability'].unique()

array(['19-Dec', 22, '18-May', '18-Feb', '18-Nov', '20-Dec', '17-Oct',
       '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb', '18-Apr',
       '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec', '17-Aug',
       '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug', '19-Jan',
       '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug', '18-Sep',
       '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar', '17-Dec',
       '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [ ]:
# ## pending
# 19-Jan  >> 2019-01 >> 2019+1/12
# 18-Dec  >> 2018-12 >> 2018+12/12
# 18-May  >> 2018-05 >> 2018+05/12          
# 18-Apr  >> 2018-04           
# 18-Aug  >> 2018-08           
# 15-Aug  >> 2015-08
# 15-Oct  >> 2015-10
# 15-Jan  >> 2015-01
# 15-Feb  >> 2015-02

In [66]:
df['availability'].replace({'Ready To Move':22,'Immediate Possession':22},inplace=True)

In [67]:
df['availability'].value_counts()

22        10597
18-Dec      307
18-May      295
18-Apr      271
18-Aug      200
          ...
15-Aug        1
17-Jan        1
16-Nov        1
16-Jan        1
14-Jul        1
Name: availability, Length: 80, dtype: int64

In [72]:
avail=[]

for i in df['availability']:
    yr=str(i)[0:2]
    avail.append(int(yr))
len(avail)

13320

In [73]:
df['yr_availability']=avail

In [77]:
df.drop('availability',inplace=True, axis=1)

In [78]:
df

,area_type,size,society,total_sqft,bath,balcony,price,site_location,yr_availability
0,0,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road,19
1,2,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk,22
2,1,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar,22
3,0,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh,22
4,0,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road,22
...,...,...,...,...,...,...,...,...,...
13315,1,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,Pashan,22
13316,0,4 BHK,NaN,3600,5.0,NaN,400.00,Paud Road,22
13317,1,2 BHK,Mahla T,1141,2.0,1.0,60.00,Pirangut,22
13318,0,4 BHK,SollyCl,4689,4.0,1.0,488.00,Prabhat Road,18
13319,0,1 BHK,NaN,550,1.0,1.0,17.00,Pune Railway Station,22

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   area_type        13320 non-null  int64
 1   size             13304 non-null  object
 2   society          7818 non-null   object
 3   total_sqft       13320 non-null  object
 4   bath             13247 non-null  float64
 5   balcony          12711 non-null  float64
 6   price            13320 non-null  float64
 7   site_location    13319 non-null  object
 8   yr_availability  13320 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 936.7+ KB

##### 3. 'size' analysis

In [87]:
df['size'].value_counts()

2.0     5528
3.0     4857
4.0     1417
1.0      643
5.0      356
6.0      221
7.0      100
8.0       89
9.0       54
10.0      14
0.5       13
11.0       4
27.0       1
19.0       1
16.0       1
43.0       1
14.0       1
12.0       1
13.0       1
18.0       1
Name: size, dtype: int64

In [84]:
df['size'].replace({'2 BHK': 2,
 '3 BHK': 3,
 '4 Bedroom': 4,
 '4 BHK': 4,
 '3 Bedroom': 3,
 '1 BHK': 1,
 '2 Bedroom': 2,
 '5 Bedroom': 5,
 '6 Bedroom': 6,
 '1 Bedroom': 1,
 '8 Bedroom': 8,
 '7 Bedroom': 7,
 '5 BHK': 5,
 '9 Bedroom': 9,
 '6 BHK': 6,
 '7 BHK': 7,
 '1 RK': 0.5,
 '10 Bedroom': 10,
 '9 BHK': 9,
 '8 BHK': 8,
 '11 BHK': 11,
 '11 Bedroom': 11,
 '10 BHK': 10,
 '14 BHK': 14,
 '13 BHK': 13,
 '12 Bedroom': 12,
 '27 BHK': 27,
 '43 Bedroom': 43,
 '16 BHK': 16,
 '19 BHK': 19,
 '18 Bedroom': 18},inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   area_type        13320 non-null  int64
 1   size             13304 non-null  float64
 2   society          7818 non-null   object
 3   total_sqft       13320 non-null  object
 4   bath             13247 non-null  float64
 5   balcony          12711 non-null  float64
 6   price            13320 non-null  float64
 7   site_location    13319 non-null  object
 8   yr_availability  13320 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 936.7+ KB

##### 4. 'society' analysis

In [88]:
df["society"].value_counts() #dropping this

GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64

In [90]:
df.drop('society',inplace=True,axis=1)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   area_type        13320 non-null  int64
 1   size             13304 non-null  float64
 2   total_sqft       13320 non-null  object
 3   bath             13247 non-null  float64
 4   balcony          12711 non-null  float64
 5   price            13320 non-null  float64
 6   site_location    13319 non-null  object
 7   yr_availability  13320 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 832.6+ KB

In [ ]:
##### 4. 'society' analysis

##### 5. 'total_sqft ' analysis

In [111]:
df['total_sqft'].astype(int)

ValueError: invalid literal for int() with base 10: '2100 - 2850'

In [112]:
for i in df['total_sqft']:
    if len(i)>4:
        print(i)

2100 - 2850
1330.74
3010 - 3410
2957 - 3450
3067 - 8156
1042 - 1105
1563.05
1145 - 1340
1015 - 1540
1520 - 1740
2023.71
1113.27
12000
34.46Sq. Meter
11890
1752.12
1195 - 1440
1200 - 2400
12000
4125Perch
1120 - 1145
4400 - 6640
3090 - 5002
35000
4400 - 6800
1160 - 1195
1000Sq. Meter
4000 - 5249
10961
1115 - 1130
1100Sq. Yards
520 - 645
1000 - 1285
3606 - 5091
650 - 665
633 - 666
2112.95
5.31Acres
30Acres
1445 - 1455
884 - 1116
850 - 1093
14000
1440 - 1884
1558.67
3467.86
716Sq. Meter
547.34 - 827.31
804.1
580 - 650
3425 - 3435
1269.72
1804 - 2273
3630 - 3800
660 - 670
4000 - 5249
1500Sq. Meter
620 - 933
142.61Sq. Meter
2695 - 2940
2000 - 5634
1574Sq. Yards
3450 - 3472
52272
2479.13
2172.65
581.91
1250 - 1305
670 - 980
1005.03 - 1252.49
3630 - 3800
1004 - 1204
361.33Sq. Yards
1752.12
645 - 936
2710 - 3360
1452.55
2249.81 - 4112.19
3436 - 3643
2830 - 2882
596 - 804
1776.42
11338
30000
1255 - 1863
1300 - 1405
1200 - 2400
1500 - 2400
117Sq. Yards
934 - 1437
980 - 1030
1564 - 1850
1452.19
1446 - 1506
1419.59
461.82
12000
2249.81 - 4112.19
1070 - 1315
3040Sq. Meter
500Sq. Yards
1020.07
2806 - 3019
613 - 648
1430 - 1630
1451.5
704 - 730
1584.01
1205.47
1482 - 1846
1689.28
2805 - 3565
10000
1819.18
3293 - 5314
1210 - 1477
3369 - 3464
1125 - 1500
167Sq. Meter
1076 - 1199
381 - 535
1627.86
2215 - 2475
524 - 894
1369.1
1053.4
540 - 670
315Sq. Yards
10000
1650 - 2538
2725 - 3250
1732.46
910.2
1974 - 2171
2006.8
888 - 1290
1360 - 1890
12000
2466 - 2856
660 - 700
385 - 440
2100 - 5405
770 - 841
524 - 894
42000
3Cents
1310 - 1615
36000
1113.12
1782 - 2000
1548.3
1525.84
188.89Sq. Yards
1469 - 1766
204Sq. Meter
1255 - 1350
870 - 1080
45Sq. Yards
2777.29
133.3Sq. Yards
1554.3
3405.1
2580 - 2591
1652.5
613 - 648
2563 - 2733
605 - 624
4260 - 4408
1349 - 3324
78.03Sq. Meter
1208.51
1255 - 1350
3300 - 3335
1180 - 1630
1660.4
1819.18
1365 - 1700
3500 - 3600
122Sq. Yards
2830 - 2882
84.53Sq. Meter
2.09Acres
2830 - 2882
1482 - 1684
981 - 1249
1100 - 1225
1565 - 1595
24Guntha
1270 - 1275
840 - 1010
697Sq. Meter
2830 - 2882
655 - 742
800 - 2660
1107.83
1408 - 1455
4050 - 4075
1266.67
942 - 1117
1777.26
1750 - 2640
142.61Sq. Meter
1390 - 1600
598 - 958
1500Cents
1752.12
1567.2
26136
132Sq. Yards
1691.2
1010 - 1300
11000
2Acres
3103 - 3890
1450 - 1950
2274.24
1369.1
1100Sq. Meter
947.55
15Acres
3301.8
1450 - 1595
763 - 805
3307 - 3464
1.26Acres
620 - 934
1542.14
2144.6
2462 - 2467
540 - 740
10200
1618 - 1929
20000
3508 - 4201
2249.81 - 4112.19
4900 - 4940
1610 - 1880
755 - 770
1181.7
11000
664 - 722
151.11Sq. Yards
700 - 900
596 - 861
1925 - 2680
615 - 985
1200 - 2400
540 - 565
1390 - 1600
2087.01
750 - 800
1660 - 1805
1719.3
1365 - 1700
1410 - 1710
1079 - 1183
2800 - 2870
1230 - 1290
943 - 1220
2041 - 2090
10961
1234.6
1763.25
527 - 639
645 - 936
2087.01
2249.81
1Grounds
1160 - 1315
706 - 716
2940Sq. Yards
10000
1791 - 4000
45.06Sq. Meter
799 - 803
2470 - 2790
783 - 943
4500 - 5540
10030
2801.25
1688.12
1255 - 1375
1733.5
10624
1430 - 1630
1777.26
610 - 615
854 - 960
2650 - 2990
1.25Acres
86.72Sq. Meter
381 - 535
1230 - 1490
3630 - 3800
896.9
660 - 780
1419.59
1618 - 1929
10000
1626.6
1150 - 1194
684 - 810
866.28
1584.01
1200 - 1800
1510 - 1670
1248.52
1370.07
1550 - 1590
777.4
1752.12
1777.26
1235 - 1410
3484 - 3550
1139.7
38Guntha
1107.83
929 - 1078
2150 - 2225
1520 - 1759
2580 - 2591
629 - 1026
1215 - 1495
6Acres
1140 - 1250
2400 - 2600
1052 - 1322
5666 - 5669
2162.03
620 - 934
2999.97
1950.2
712 - 938
2171.66
1783 - 1878
120Sq. Yards
1950.2
24Sq. Meter
2528 - 3188
1623.29
650 - 760
1400 - 1421
16335
4000 - 4450
2087.01
142.84Sq. Meter
300Sq. Yards
2777.29
1115 - 1130
1932.47
2204 - 2362
1437 - 1629
850 - 1060
30400
1804 - 2273
1200 - 1470
5665.84
1331.95
1020 - 1130
1133 - 1384
2830 - 2882

In [172]:
def sqft(i):
    if i.count('-')>0:
        
        sq1=i.split('-')
        i=((float(sq1[0])+float(sq1[1]))/2)
        return i
    re.sub()

In [173]:
df['total_sqft']=df['total_sqft'].apply(sqft)
df['total_sqft']

0        1056
1        2600
2        1440
3        1521
4        1200
         ...
13315    3453
13316    3600
13317    1141
13318    4689
13319     550
Name: total_sqft, Length: 13320, dtype: object

In [189]:
str1='142.84Sq. Meter'
str2=re.sub('[a-zA-Z]','',str1)
str3=re.sub(' ','',str2)
str4=re.sub('.$','',str3)
str4

'142.84'

In [190]:
str1='120Sq. Yards'
str2=re.sub('[a-zA-Z]','',str1)
str3=re.sub(' ','',str2)
str4=re.sub('.$','',str3)
str4

'120'

In [191]:

str1='6Acres'
str2=re.sub('[a-zA-Z]','',str1)
str3=re.sub(' ','',str2)
str4=re.sub('.$','',str3)
str4

''

In [193]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., 1258.5, '774', '4689'], dtype=object)